{% load static %}

<div class="col-md-6">
    <label for="id_city" class="form-label">City</label>
    <input type="text" class="form-control" name="city" id="id_city" placeholder="Kyiv" required>
    <div class="invalid-feedback">Please enter your city.</div>
</div>

<!-- віддшленя нової пошти -->
<div class="col-md-6">
    <label for="id_department" class="form-label">Виберіть відділення</label>
    <select class="form-select" id="id_department" name="delivery_address" required>
        <option selected disabled value="">Choose...</option>
    </select>
    <div class="invalid-feedback">Please select a department.</div>
</div>
