{%load static%}



<div class="container-fluid">
    <div class="row">
      <!--CART OPEN-->
      <div class="col-lg-8 mb-3">
        <div class="card-content p3 h-100 bg-while">
          <div class="table-responsive">
            <table class="table aling-middle table-hover">
               <!--шапка корзины OPEN-->
              <thead class="table-dark">
                    <tr>
                      <th>Photo</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Qty</th>
                      <th><i class="fa-solid fa-cart-shopping"></i></th>
                    </tr>
              </thead> <!--шапка корзины close-->
              <tbody>
                <!-- первая карточка товара внутри корзины открыто-->
                <tr>
                  <td class="product-img-td"><a href="#"><img src="{% static "assets/img/1.jpg" %}}"></a></td>
                  <!--фото оовара в корзине-->
                  <td><a href="#" class="cart-content-title">Ноутбук Dell Vostro</a></td><!--название товара в корзине-->
                  <td>$100</td><!--цена товара в корзине-->
                  <!--количество товара в корзине open-->
                  <td>
                     <input type="number" value="1" class="form-control cart-qty">
                  </td><!--количество товара в корзине close-->
                  <td><a href="" class="btn-btn-danger" style="color:red; font-size: 24px; margin-top: -7px;"><i
                    class="fa-regular fa-circle-xmark"></i></a></td>
                  <!--кнопка удалить товар из корзины-->
                </tr> <!-- первая карточка товара внутри корзины открыто-->

              </tbody>

              <tfoot>
                <tr>
                  <td colspan="5" class="text-end">
                    <button class="btn btn-outline-warning">Update Cart</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div><!--CART CLOSE-->

      <!--Cart Summary OPEN-->
      <div class="col-lg-4 mb-3">
        <div class="card-summary sidebar p-3">
          <h5 class="card-summary-text"><span>Cart Summary</span></h5>

          <div class="d-flex justify-content-between my-3">
            <h6 class="card-summary-text">Total</h6>
            <h6 class="card-summary-text">1000$</h6>
          </div>
        </div>

      </div><!--Cart Summary CLOSE-->
    </div>
  </div>